<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /customRouter/

    # If the requested file or directory doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect to index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
